/*min width*/
/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-up(xs) {

}

/* Medium devices (tablets, 768px and up) */
@include media-breakpoint-up(sm) {

}

/* Large devices (desktops, 992px and up) */
@include media-breakpoint-up(md) {

}

/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-up(lg) {

}






/* max width */
/* Extra small devices (portrait phones, less than 576px) */
@include media-breakpoint-down(xs) {

}

/* Small devices (landscape phones, less than 768px) */
@include media-breakpoint-down(sm) {

}

/* Medium devices (tablets, less than 992px) */
@include media-breakpoint-down(md) {

}

/* Large devices (desktops, less than 1200px) */
@include media-breakpoint-down(lg) {
    
}



/* only specific */
/* Extra small devices (portrait phones, less than 576px) */
@include media-breakpoint-only(xs) {

}

/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-only(sm) {

}

/* Medium devices (tablets, 768px and up) */
@include media-breakpoint-only(md) {

}

/* Large devices (desktops, 992px and up) */
@include media-breakpoint-only(lg) {

}

/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-only(xl) {
    
}



@media(max-width: 1024px){
    
}

@media(max-width: 768px){
    /*header*/
    #topheader {
        background:#e8f8eb;
    }

    .gambar-home {
        display: none;
    }
}

@media(max-width: 360px){

}

@media(width: 768px) and (height:1024px){
    body {
        display: none;
    }
}

@media(width: 1024px) and (height:1366px){
    body {
        display: none;
    }
}