.padding-20 {
	padding: 20px;
}
.padding-60 {
	padding: 60px;
}
.padding-30 {
	padding: 30px;
}

.garis_hijau {
	border-bottom: 4px solid   #31A05E ;
	width: 50px;
    margin-bottom: 10px;
}

.garis {
	border-bottom: 4px solid #EB4231;
	width: 50px;
    margin-bottom: 10px;
}

.text-center {
	text-align: center;
}

.imgfitur {
    height: 100%;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
}

.img-button{
    width: 400px;
    height: 100;
}

.padding-0{
    padding: 0px!important;
}


/* .bg-mitra{
    background-image: url("aset/bg.png");
    height: 100%;
    width : 100%;
    margin : 0px auto;
    padding: 15px;
} */

#mitra{
    padding: 40px 0px 40px;
	margin-top: 50px
}

.logo {height: 70px; width: 70px;}
        .navbar-light{
            background-color: #e8f8eb;
        }

        .navbar-brand{
            color: #055a3d;
        }

        #topheader .navbar-nav li > a {
            text-transform: capitalize;
            color: #333;
            transition: color .2s;
        }
        #topheader .navbar-nav li > a:hover, #topheader .navbar-nav li > a:focus {
            color: #31a05e;
        }
        #topheader .navbar-nav li.active > a {
            color: #31a05e;
        }

        .form-inline .btn {
            width: 110px;
            text-align: center;
            transition: 0.7s;
            background-size: 180% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 40px;
        }
        .btn:hover {
            background-position: right center;
            color: white;
        }
        .btn-1 {
            background-image: linear-gradient(to right, #055a3d 0%, #002031 51%, #055a3d 100%);
        }