.logo {
    height: 50px;
    width: 200px;
    padding-left: 0px;
    cursor: pointer;
}

.bg {
    background-color: #055A3D;
}

.padding-20 {
	padding: 20px;
}
.garis {
	border-bottom: 2px solid rgb(55, 247, 215);
	width: 75px;
	margin-bottom: 20px;
}

.text-center {
	text-align: center;
}