.container-logo{
    width: 800px;
    margin-left: 500px;
    margin-top: 80px;
}

.jumborton-fluid{
    margin-top:-400px;
    margin-left: -100px
}

.container-future{
    margin-top: 300px;
}

.img-fluid-future{
   margin-top: -100px;
   margin-left: 50px;
   height: 700px;
   align-items: center;
}

.card-img-top{
    height: 100px;
    width: 100px;
}

.container-colab{
    margin-top: 200px;
}

